.title {
    width: 68.75%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 40px;
    padding-bottom: 41px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 544px) {
    .title {
        margin: 0;
        margin-bottom: 42px;
        width: 100%;
        padding-top: 28px;
        padding-left: 27px;
        padding-bottom: 32px;
        box-sizing:border-box;
        
    }

    .title__logo {
        width: 126px;
    }
}