.photos {
  width: 68.75%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 17px 20px;
}

.photos__container {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
}

.photos__grid {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.photos__delete {
  position: absolute;
  top: 24px;
  right: 16px;
}

.photos__description {
  display: flex;
  margin-left: 21px;
  margin-right: 16px;
  justify-content: space-between;
}

.photos__description-text {
  color: black;
  font-size: 22px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photos__description-like,
.photos__delete {
  background: none;
  border: none;
  padding: 0;
}

.photos__description-like:hover,
.photos__delete-icon:hover {
  opacity: 50%;
  cursor: pointer;
}

.photos__description-like:active {
  cursor: pointer;
}

.photos__grid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (max-width: 544px) {
  .photos {
    width: 100%;
    grid-template-columns: 88.12%;
    margin: 0 auto;
    margin-top: 36px;
    justify-content: center;
  }
}
