.popup {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: fixed;
  top: 0;
  display:none;
  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.popup__container {
  width: 33.6%;
  position: relative;
}

.popup__close-button {
  background: none;
  border: none;
  padding: 0;
  width: auto;
  position: absolute;
  right: -10%;
  top: -12%;
}

.popup__close-button-icon {
  height: 40px;
}

.popup__close-button-icon:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__form {
  background-color: #fff;
  color: black;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.popup__title {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
}

.popup__info {
  display: flex;
  flex-direction: column;
}

.popup__info-text {
  color: #000;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  height: 27.25px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
}

.popup__info-text::placeholder {
  color: #c4c4c4;
}

.popup__save-button {
  color: #c4c4c4;
  background: none;
  border: 1px solid #c4c4c4;
  padding: 19px 0px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 2px;
}

.popup__save-button_active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.popup__save-button_active:hover {
  opacity: 80%;
}

@media (max-width: 544px) {
  .popup__container {
    width: 88.12%;
  }

  .popup__close-button {
    right: 0;
    top: -16%;
  }

  .popup__close-button-icon {
    width: 26px;
  }

  .popup__form {
    padding: 25px 22px;
  }

  .popup__title {
    margin-bottom: 76px;
    font-size: 18px;
  }

  .popup__save-button {
    margin-top: 16px;
    font-size: 14px;
    padding: 14px 0px;
  }
}
